


<ul class="breadcrumb">
  <li>
    <a href="<%= cpanel_homes_path %>">首页</a>
  </li>
  <li>
    <a href="<%= cpanel_articles_path %>">商品管理</a>
  </li>
  <li class="active">
    创建商品
  </li>
</ul>

<div class="alert alert-warning">
  提示：标注
  <span class="required">*</span>
  为必添项
</div>

<%= form_for([:cpanel, @article], html: {class: "form-horizontal"}) do |f| %>
  <table class="table table-striped table-bordered table-condensed table-hover">
    <% if @article.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <ul>
          <% @article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <tr>
      <td width="15%">
        <label class="required">
          <%= t('article.title') %>
          <span class="required">*</span>
        </label>
      </td>
      <td colspan="3">
        <div class="col-sm-4">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </td>
    </tr>

    <tr>
      <td width="15%">
        <label class="required">
          <%= t('article.picture_url') %>
          <span class="required">*</span>
        </label>
      </td>
      <td colspan="3">
        <div class="col-sm-4">
          <%= f.text_field :picture_url, class: "form-control" %>
        </div>
        <div class="col-sm-2">
          <div class="d-hidden">
            <input type="file" id="article-picture-upload">
          </div>
          <%= link_to(t("buttons.upload"), "javascript:void(0);", id: "article_picture_add_image") %>
          <%= link_to(t("buttons.review"), "javascript:void(0);", id: "goods_picture_review")%>
        </div>
        <div class="col-sm-2" id="article-picture-hint">

        </div>
      </td>
    </tr>

    <tr>
      <td width="15%">
        <label class="required">
          <%= t('article.content') %>
          <span class="required">*</span>
        </label>
      </td>
      <td colspan="8">
        <div class="col-sm-8">
          <%= f.text_area :content %>
        </div>
      </td>
    </tr>

    <tr>
      <td width="15%">
        <label class="required">
          <%= t('goods.state') %>
          <span class="required">*</span>
        </label>
      </td>
      <td colspan="3">
        <div class="col-sm-4">
          <%= f.check_box :state %>
        </div>
      </td>
    </tr>

  </table>
  <div class="form-actions">
    <%= f.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>

    <script type="text/javascript">
      $(document).ready(function () {
        UE.getEditor('article_content', {
          serverUrl: "/cpanel/photos/ueditor",
          toolbars: [
            [
              'bold',
              'fontfamily', //字体
              'forecolor', //字体颜色
              'backcolor', //背景色
              'simpleupload',
              'map',
              'link',
              'background', //背景
              'justifyleft', //居左对齐
              'justifyright', //居右对齐
              'justifycenter', //居中对齐
              'justifyjustify', //两端对齐
            ]
          ],
          initialFrameHeight: 400
        });

      });

    </script>
