<ul class="breadcrumb">
  <li>
    <a href="<%= cpanel_homes_path %>">首页</a>
  </li>
  <li class="active">
    分类管理
  </li>
</ul>


<%= form_for :cate, method: :get, html: {class: "well"} do |f| %>
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td width="15%"><%= t('cates.name') %>:</td>
        <td>
          <div class="col-sm-4">
            <%= f.text_field :name, class: "form-control col-sm-2", name: "q", value: params[:q] %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-default" id="searchCustomer" type="submit" name="yt0">搜索</button>
<% end %>


<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        <%= t('cates.name') %>
      </th>
      <th>
        <%= t('cates.state') %>
      </th>
      <th>
        <%= t('buttons.action') %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @cates.each do |cate| %>
    <tr class="<%= cate.state == 0 ? "warning" : "" %>">
      <td>
        <%= cate.id %>
      </td>
      <td>
        <%= cate.name %>
      </td>
      <td>
        <% if cate.state == Brand::STATE[:normal]%>
        <%= t("brands.normal") %>
        <% else %>
        <%= t("brands.blocked") %>
        <% end %>
      </td>
      <td>
        <%= link_to(t("buttons.update"), edit_cpanel_cate_path(cate) ) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @brands %>

