  <!-- 主体内容区域 -->
  <div class="container">

    <!-- 开始 - 手机轮播图 -->
      <div class="swiper-container">
          <div class="swiper-wrapper">
    <div class="swiper-slide">
                <a href="#">
                  <img src="http://7xioz9.com2.z0.glb.qiniucdn.com/htimages/banner_1.png" />
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="http://7xioz9.com2.z0.glb.qiniucdn.com/htimages/banner_2.png" />
                </a>
              </div>
          </div>
        <div class="swiper-pagination">
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
        </div>
      <script>
            var swiper = new Swiper('.swiper-container', {
              loop: true,
                pagination: '.swiper-pagination',
                paginationClickable: true,
            });
        </script>
      </div>
      <!-- 结束 - 手机轮播图 -->

<!-- 导航栏 -->
<div class="nav-box">
  <div class="nav-child-box">
    <div class="nav-item">
      <a href="?cat=0">
        <img src="http://7xioz9.com2.z0.glb.qiniucdn.com/htimages/channel%20classification_1.png" alt="今日特卖">
        <span>今日特卖</span>
       </a>
    </div>

    <div class="nav-item">
      <a href="?cat=1">
        <img src="http://7xioz9.com2.z0.glb.qiniucdn.com/htimages/channel%20classification_2.png" alt="面部护理">
        <span>面部护理</span>
      </a>
    </div >

    <div class="nav-item">
      <a href="?cat=2">
        <img src="http://7xioz9.com2.z0.glb.qiniucdn.com/htimages/channel%20classification_3.png" alt="彩妆香气">
        <span>彩妆香气</span>
      </a>
    </div>

    <div class="nav-item">
      <a href="?cat=3">
        <img src="http://7xioz9.com2.z0.glb.qiniucdn.com/htimages/channel%20classification_4.png" alt="男士护肤">
        <span>男士护肤</span>
      </a>
    </div>
  </div>
</div>
<!-- 结束 - 导航栏 -->

<style>
.goods-image img {
  margin-top: 15px;
}

</style>
<!-- 商品区域 -->
<div class="goods-box">

  <% @haos.each_with_index do |hao, index| %>
      <a href="<%= hao.taobao_url %>" class="item">
        <div class="goods-image">
          <img src="<%= hao.picture_url %>" width="211" height="211">
        </div>
        <div class="goods-body">
          <div class="title-box">
            <div class="goods-title">
              <h2><%= hao.title %></h2>
            </div>
          </div>
          <div class="price-box">
            <div class="price">
              <span>&yen;<%= hao.price %></span>
            </div>
            <div class="origin-price">
              <span>&yen;<%= hao.original_price %></span>
            </div>
            <div class="go">
              <img src="http://7xioz9.com2.z0.glb.qiniucdn.com/htimages/immediately%20grab.png" alt="马上抢">
            </div>
          </div>
        </div>
      </a>
  
      <% if (index > 2 && (index % 4) == 0) then %>
        <% @article = @articleAll.paginate(:page => @article_index, :per_page => 1) %>

        <% if @article.at(0) then %>
          <a href="<%= home_path(@article.at(0).id)%>" class="item">
            <div class="goods-image">
              <img src="<%= @article.at(0).picture_url %>" width="211" height="211">
            </div>
            <div class="goods-body">
              <div class="title-box">
                <div class="goods-title">
                  <h2><%= @article.at(0).title %></h2>
                </div>
              </div>
            </div>
          </a>
          <% @article_index+=1 %>
        <% end %>

    <% end %>

  <% end %>

