<div class="s_bg_top">
  <div class="s_bg_bottom">
    <div class="wrap clearfix">
      <div class="lay642 J_scrollspy">
        <div class="shop_title">
          <img src="http://a.vpimg3.com/upload/dop/2015/01/23/153/home_floor_title_1.png">
        </div>
        <ul class="shop_onsale">
          <% @brands.each do |brand| %>
            <% cache("brand-list-#{brand.id}") do %>
              <li class="s_mod">
                <div class="s_pic">
                  <div class="s_discount">
                    <p class="s_name" title="<%= brand.name %>"><%= brand.name %></p>
                    <p class="s_off"><span class="salebg2"><%= brand.sale %></span>折起</p>
                  </div>
                  <a class="J_to_list" href="<%= detail_path(brand)%>" target="_blank">
                    <img class="lazy" data-original="<%= brand.desc_picture %>" src="http://7xioz9.com2.z0.glb.qiniucdn.com/lazyLoading.jpg" alt="<%= brand.name %>">
                  </a>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="lay330 s_bg_right">
        <div class="pic_focus_wrapper big_pic_focus">
          <div class="pic_focus J_wrap_adRotary" style="display: block;">
            <div class="J_wrap_adRotary_cell" style="">
              <div class="loop_clone_prev" >
                <a href="#" target="_blank">
                  <img class="lazy" src="http://a.vpimg2.com/upload/cmc/2015/06/01/18/bcbcdb77f0dc48188685c00585bbb740.jpg">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="m-forecast" id="J_wrap_salePlan">
          <div class="forecast-cnt">
            <div class="clearfix" style="margin-top: 0px; display: block;">
              <% @brands.each do |brand| %>
                <% cache("brand-forecast-#{brand.id}") do %>
                  <span class="forecast-logo J_brandLogo" data-index="0">
                    <%= link_to(raw("<img src='#{brand.logo_picture}' class='lazy' class='forecast-logo-pic'>"), detail_path(brand))%>
                  </span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
