<ul class="breadcrumb">
  <li>
    <a href="/">首页</a>
  </li>
  <li>
    <a href="<%= brands_path %>">专题管理</a>
  </li>
  <li class="active">
    创建专题
  </li>
</ul>

<div class="alert alert-warning">
  提示：标注
  <span class="required">*</span>
  为必添项
</div>

<%= form_for(@brand, html: {class: "form-horizontal"}) do |f| %>
<table class="table table-striped table-bordered table-condensed table-hover">
    <% if @brand.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <ul>
          <% @brand.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <tr>
      <td width="15%">
        <label class="required">
          <%= t('brands.name') %>
          <span class="required">*</span>
        </label>
      </td>
      <td colspan="3">
        <div class="col-sm-4">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </td>
    </tr>

    <tr>
      <td width="15%">
        <label class="required">
          <%= t('brands.wangwang') %>
          <span class="required">*</span>
        </label>
      </td>
      <td colspan="3">
        <div class="col-sm-4">
          <%= f.text_field :wangwang, class: "form-control" %>
        </div>
      </td>
    </tr>

    <tr>
      <td width="15%">
        <label class="required">
          <%= t('brands.banner_picture') %>
          <span class="required">*</span>
        </label>
      </td>
      <td colspan="3">
        <div class="col-sm-4">
          <%= f.text_field :banner_picture, class: "form-control" %>
        </div>
        <div class="col-sm-1">
          <div class="d-hidden">
            <input type="file" id="banner-picture-upload">
          </div>
          <%= link_to(t("buttons.upload"), "javascript:void(0);", id: "banner_picture_add_image")%>
        </div>
        <div class="col-sm-2" id="banner-upload-hint">
        </div>
      </td>
    </tr>

    <tr>
      <td width="15%">
        <label class="required">
          <%= t('brands.recommend_picture') %>
          <span class="required">*</span>
        </label>
      </td>
      <td colspan="3">
        <div class="col-sm-4">
          <%= f.text_field :recommend_picture, class: "form-control" %>
        </div>
        <div class="col-sm-2">
          <div class="d-hidden">
            <input type="file" id="recommend-picture-upload">
          </div>
          <%= link_to(t("buttons.upload"), "javascript:void(0);", id: "recommend_picture_add_image") %>
        </div>
        <div class="col-sm-2" id="recommend-upload-hint">
        </div>
      </td>
    </tr>

    <tr>
      <td width="15%">
        <label class="required">
          <%= t('brands.state') %>
          <span class="required">*</span>
        </label>
      </td>
      <td colspan="3">
        <div class="col-sm-4">
          <%= f.check_box :state %>
        </div>
      </td>
    </tr>

  </table>
  <div class="form-actions">
    <%= f.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
