<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <link href="http://7xioz9.com2.z0.glb.qiniucdn.com/normalize.css" rel="stylesheet" />
    <link href="http://7xioz9.com2.z0.glb.qiniucdn.com/20150624165750/87e9efde414233a40865731e5c.css" rel="stylesheet" />
    <script type="text/javascript" src="http://7xioz9.com2.z0.glb.qiniucdn.com/jquery.min.js"></script>
    <script type="text/javascript" src="http://7xioz9.com2.z0.glb.qiniucdn.com/lazyLoading.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
      $("img.lazy").lazyload();
    });
    </script>
  </head>
  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= render 'shared/cnzz' %>
  </body>
</html>



